p{color:orange;}

p{color:hotpink;}

/*다른선택자인 경우*/
#css{/*아이디 선택자*/
  background-color:gray;
}
.css{/*클래스 선택자*/
  background-color:lightblue;
}
div{
  background-color:yellow;
}

body{
  background-color:yellow;
}
